mixin head(options = {})
  -
    const {
      title = '',
      page = 'index',
    } = options;
    const style = `/assets/css/${page}.css`;
    const js = `/assets/js/${page}.js`;
  head
    meta(charset = 'utf-8')
    meta(name='viewport', content='initial-scale=1.0, width=device-width')
    title
      =title
    link(rel='stylesheet' href=style)
    script(src='/assets/js/vendors.js' defer)
    script(src=js defer)
