mixin dropdown(options = {})
  -
    const {
      label = '',
      state = '',
      placeholder = '',
      expanded = false,
      items = []
    } = options;
  .dropdown
    if label || state
      .dropdown__header
        if label
          .cta-text= label
        if state
          .state-text= state
    .dropdown__label(class = expanded ? 'dropdown_state-open': '' data-placeholder=placeholder)
      .dropdown__value= placeholder
      i.material-icons.dropdown__icon expand_more
    .dropdown__items(class = expanded ? 'dropdown__items_state-open': '')
      if items
        each item in items
          .dropdown__item(data-label_declensions=JSON.stringify(item.labelDeclensions))
            .dropdown__item-label.cta-text= item.label
            .dropdown__item-control
              .dropdown__item-control-item.dropdown__item-control-remove -
              .dropdown__item-control-value.cta-text= item.value
              .dropdown__item-control-item.dropdown__item-control-add +
