mixin dropdown(options = {})
  -
    const {
      label = '',
      state = '',
      expanded = false,
      dropdown = {}
    } = options;
  .dropdown
    if label || state
      .dropdown__header
        if label
          .cta-text= label
        if state
          .state-text= state
    .dropdown__input(class = expanded ? 'dropdown_state-open' : '')
      .dropdown__value= dropdown.valueLabel
      i.material-icons.dropdown__icon expand_more
    .dropdown__items(class = expanded ? 'dropdown__items_state-open' : '')
      if dropdown.items
        each item in dropdown.items
          .dropdown__item
            .dropdown__item-label.cta-text= item.label
            .dropdown__item-control
              .dropdown__item-control-item.dropdown__item-control-remove -
              .dropdown__item-control-value.cta-text= item.value
              .dropdown__item-control-item.dropdown__item-control-add +
